.App {
  margin-top: 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App .navbar-brand {
  font-weight: bold;
}

.App-right {
  height: 150px;
  padding: 6rem;
  color: #00a2d0;
  font-weight: 600;
  font-size: 1.5rem;
  border-left: 1px solid #eee;
  float: right;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
